sudo: false
dist: trusty
language: php
services:
  - mysql
cache:
  apt: true
env:
  global:
  - EE_VERSION=master
  - WP_VERSION=latest WP_MULTISITE=0
matrix:
  include:
  - php: 5.3
    dist: precise
  - php: 5.4
  - php: 5.5
  - php: 5.6
  - php: 5.6
    env: WP_MULTISITE=1
  - php: 5.6
    env: WP_VERSION=4.1
  - php: 5.6
    env: WP_VERSION=4.1 WP_MULTISITE=1
  - php: 7.0
    env: WP_MULTISITE=1
  - php: 7.0
  - php: 7.1
    env: WP_MULTISITE=1
  fast_finish: true
before_install:
- |
  if [[ "$SKIP_XDEBUG_REMOVE" != "true" ]]; then
    phpenv config-rm xdebug.ini
    echo "xdebug removed";
  fi
before_script:
- bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
- . tests/bin/setup-addon-tests.sh
- export PATH="$HOME/.composer/vendor/bin:$PATH"
- |
    # Install the specified version of PHPUnit depending on the PHP version:
    if [[ -n "$TRAVIS_PHP_VERSION" ]]; then
      case "$TRAVIS_PHP_VERSION" in
        7.1|7.0|nightly)
          echo "Using PHPUnit 6.1"
          composer global require "phpunit/phpunit=6.1.*"
          ;;
        5.6|5.5|5.4|5.3)
          echo "Using PHPUnit 4.8"
          composer global require "phpunit/phpunit=4.8.*"
          ;;
        5.2)
          # Do nothing, use default PHPUnit 3.6.x
          echo "Using default PHPUnit, hopefully 3.6"
          ;;
        *)
          echo "No PHPUnit version handling for PHP version $TRAVIS_PHP_VERSION"
          exit 1
          ;;
      esac
    fi
- mysql --version
- phpunit --version
- phpenv versions
script: cd tests; phpunit;
notifications:
  slack:
    rooms:
      secure: "IhBAAwl4cljIf2hAc4To/b8R9Zi6yTVvt6U16lVX6P9EJ341MHmpLXCgenlpWe2FambplYW44l61He9XxK7y3Jg92kuW3ff35z89WqfbUYMl6Ov4MQUtHwNcGarJ8apP0TGaXHo8gWLnglqk2sGn/SzDj1JTnlIWLPXXFPNeflAKxVxy+tKL7rmQBcy6QdFe1sdZhu9MXFNlReLhxiRd+DDqoZlHheGI9x6klkFYNfsVc9LATuSsfIBc2FwAUkaQO9tP2tavXIsgcJZR9T5l/DsWkC2u48RCGaD/djpj0fzTQ8fvTixKbRuD4JGurwEcblz8FAxnkj+J4jFbjRWcazSYGItdVfypw1gqCJNJ1ca7odIX/ejJBgH9z75Hlm6iJzsCdQmOP7dTx/zgGXJO5EKg8f7Fu00TGqdfskBTqdxOs7xlP/INVq/SLaAY4Jzqm09b3Q1Ey/4f/eWFKbhPvKzB8PJcyyh6+7I4LO5y3y4gsE1c6aA7dz3FGLT7vGu0+mat54BBhzG1QFDnmGtcZkktLH1xagA6cSdDXDc0AW/zidEZsd//R3XQc7/M6cfhGsZYfgRHIR1qgSbPoQFSDJLUs1iWJjxtJ6WP+mwtB56IEwGa50k+jmwU12E0nfFEcS6ipKxiSjK8X4QvaDGSZI6FTcGHtiRVqNaZfEedYqY="
    on_success: always
    on_failure: always
    on_start: always
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration}"
      - "%{commit_message}"